/*Font colors,sizes,family.*/
html{
  background-color: ;
  font-size: 20px;
}

#xlarge{
  color: #705757;
  font-size: 3em;
  font-family: 'Merriweather', serif;
  text-align: center;

}

#large{
  font-size: 32px;
  font-family: 'Merriweather', serif;

}

#medium{
  font-family: 'Merriweather', serif;
  font-size: 24px;
  color: #705757;
  text-align: center;
}

#leftmedium{
  font-family: 'Merriweather', serif;
  font-size: 24px;
  color: #705757;
  text-align: left;
}

#smallmerri{
  font-family: 'Merriweather', serif;
  font-size: 21px;
  color: #705757;
  padding-bottom: 8px;

}

#xlargelato{
  color: #705757;
  font-size: 3em;
  font-family: 'Lato', sans-serif;
  text-align: center;
}

#slightsmaller{
  font-family: 'Lato', sans-serif;
  font-size: 22px;
  text-align: left;
  font-weight: bold;

}

#smaller{
  font-family: 'Lato', sans-serif;
  font-size: 22px;
  color: #492F2F;
  text-align: left;
  padding-left: 24px;
  padding-bottom: 32px;
}

/*Navigation CSS*/
.nav{
  background-color: white;
  height: 64px;
  display: flex;
  width: 100%;
}

.title{
  color: #492F2F;
}

.title span{
  color: #BAA5A5;
}

.top{
  display: flex;
  align-items: center;
  padding-left: 24px;
}

.top img{
  width: 50px;
  height: 50px;
}

.top h1{
  margin-left: -5px;
}

.navigation{
  display: flex;
  align-items: center;
  width: 100%;
  text-align: right;
  padding-right: 24px;

}

ul li{
  display: inline;
  padding-left: 16px;
  float: right;
}

nav {
  width: 100%;
}

/*Banner content under the navigation*/
.bannertop{
  background-color: #E6D7D7;
  display: flex;

}

#main img{
  width: 60%;
  height: 90%;
  padding: 32px 24px;
}


.testflx{
  text-align:center;
  margin: auto;
}

.bannerwords {
  margin: 24px 0;
  font-weight: bold;
}

#button {
    background-color: #492F2F; /*Dark*/
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    width: 70%;
    margin: 24px 0;
}

/*information section under banner*/
.info h1{
  width: 60%;
  padding-bottom: 24px;
}

.info p{
  width: 60%;
  line-height: 1.4;
  padding-bottom: 24px;
}




.info {
display: flex;
}


.test{
  display: flex;

}

.y{
  display: flex;
  border-bottom: double 1px;
  border-color: #957D7D;
  margin: 0;
}

.x{
  width: 40%;
  margin: 0;
  border-left: solid 1px;
  border-color: #957D7D;
}

#main #tt{
  width: 35%;
  height: 25%%;
}

.y span, p, a{
  text-align: right;
}

.x #medium .mm{

  text-align: left;
}
.x .v{
  margin: auto;
}

.y #large{
  text-align: right;
}

.x #large{
  font-size:26px;
  font-weight: bold;
  margin-right: 0;
  color:#705757;
}

.x #leftmedium{
  font-size: 17px;
  width: 100%;
  margin-top: 10%;
}

a #smaller{
  text-align: left;
}

#words{
  width: 60%;
  line-height: 1.4;
  padding-bottom: 24px;
  margin-top: -15%;
}

#words h1{
  padding-bottom: 24px;
}

#words p{
  padding-bottom: 24px;
}

#words #smaller{
  padding-bottom: 32px;
}

#specialcase{
  background-color: #E6D7D7;
}

/*start learning*/
.learn{
  padding: 32px 0;
  background-color: #E6D7D7;
}

.row{
  display:flex;
  padding-left: 72px;
  padding-right: 40px;
  padding-bottom: 32px;
  background-color:#E6D7D7;
 }

.row div {
 flex:1;
 margin-right:32px;
 background-color: white

 }
.row img {
 width:100%;
 }

 .row h1{
   font-weight: bold;
   margin-top: 16px;
   text-align: left;
 }
 .row h1, .row h2{
   padding: 8px 16px;
 }

 .row p{
   text-align: left;
   line-height: 1.5;
   padding-left: 16px;
   margin-top: 8px;
   margin-bottom: 24px;
 }

 .thesis{
   padding:32px;
 }

video{
  width: 60%;
  height: 100%;
}


.thesis-main{
  display: flex;
  padding-left: 24px;
  padding-bottom: 24px;
  max-height: 400px;
  margin-bottom: 4%;
}

.nn .x{
  border: none;
}

.pics{
  margin-left: 24px;
  display: flex;
  background-color: #E6D7D7;

}
.pics img{
  width: 35%;
  height: 50%;
  padding: 16px;
}

.picsnowandthen{
  display: flex;
  margin-left: 24px;
}

.picsnowandthen img{
  padding: 16px;
  width: 35%;
  height: 50%;

}

.pics p, .picsnowandthen p{
    line-height: 1.5;
}

.picsnowandthen p, .picsnowandthen span{
  text-align: left;
}

.pics p, .pics span{
  text-align: left;
}

#thesiswords{
  margin: auto 0;
}


.reimagine{
margin-left: 24px;
width: 60%;
}

.reimagine h2{
  margin-bottom: 8px;
}
.reimagine #smallmerri{
  padding-top: 8px;
  line-height: 1.5;
  font-weight: lighter;
  text-align: left;
  padding-bottom: 32px;
}

.footer{
  border-top: solid 1px;
  border-color: #957D7D;;
  padding-top:16px;
  padding-left: 24px;
}

.alignleft{
  float: left;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  color: #492F2F;
}

.alignright{
  float: right;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  color: #492F2F;
  word-spacing: 10px;
  padding-right: 15px;
}
